[Unit]
Description=Bearpaw Backend
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/bearpaw --config /etc/bearpaw/config.yaml --daemon
Restart=on-failure
User=scanner
Group=scanner

[Install]
WantedBy=multi-user.target
